.BIGprojectTitle,
.BIGshortDescription {
    text-align: center;
}

.BIGprojectTitle>a {
    color: rgba(207, 206, 206, 1);
    font-weight: bold;
    font-size: 1.5rem;

}

.BIGshortDescription {
    color: rgba(207, 206, 206, 8);
    margin-bottom: 1.3rem;
}

.BIGstack {
    margin-top: 1rem;
}


.BIGprojectButton {
    margin: auto auto;
    padding: 0.5rem;
    width: 20%;
    position: relative;
    background-color: rgb(51, 122, 183);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    min-width: 145px;
    margin-top: 2rem;
}

.BIGprojectButton:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgb(73, 139, 197);
    -moz-box-shadow: 0px 0px 13px 0px rgba(73, 139, 197);
    box-shadow: 0px 0px 13px 0px rgba(73, 139, 197);
}


.divider {
    width: 100%;
    height: 1px;
    border: 1px solid rgb(0, 0, 0, .5);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.projectImage {
    margin-right: 2rem;
}


.projectTitle {
    color: rgba(207, 206, 206, 1);
    font-weight: bold;
    margin-bottom: .5rem;
}

.teamMember {
    margin-left: 1rem;
}

.mentionText {
    margin-top: 0.3rem;
}

.projectButton {
    margin-top: .5rem;
    margin-bottom: 2rem;
}
.imagePlaceholder {
    height: 141px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.37);
}
.smallprojectContainer{
    width: 100%;
}
.BIGimagePlaceholder{
    min-width: 254px;
    min-height: 136px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.37);
}
/**/
@media only screen and (max-width: 705px) {

    .flexContainerSmallIMG {
        flex-wrap: wrap;
        justify-content: center;
    }

    .projectTitle {
        text-align: center;
    }

    .stack,
    .teamSize {
        display: none;
    }

    .projectImage {
        margin: auto;
    }

    .projectButton {
        margin-top: 1rem;
    }


   
}